.about {  
  background-image: url(assets/img/backgrounds/1.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  margin: 0 auto; 
  background-repeat: no-repeat;
}
.container__title {
  max-width: 1190px; 
  display: flex;
  align-items: center;  
  flex-wrap: wrap;
  margin: 0 auto;   
  justify-content: space-between;  
}
.about__title {
  padding-left: 20px;
  padding-right: 20px;  
}
.about-content__title {
  max-width: 838px;  
  margin-top: 171px;
}
.about-content__title span {
  display: block;
}
.text-content__title {
  max-width: 432px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: $color-black;
  margin-top: 20px;
}
.button-btn {
  max-width: 270px;
  height: 60px;  
  display: flex;  
  border-radius: 5px;   
  background: $color-light;  
  transition: 0.4s ease-in-out;
  transform: rotate(0deg);   
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 100%;  
  align-items: center;
  text-transform: uppercase;
  color: $color-white;
  margin-top: 58px;  
}
.about__button {
  margin-bottom: 180px;
}
@media (max-width: 375px) {
  .about {  
    background-image: url(assets/img/backgrounds/ill.svg);
    background-size: 375px 545px;
    background-position: 0px 28px;
    background-repeat: no-repeat;  
    width: 100%;
    overflow: hidden;
  }
  .about__title {
    margin-top: 146px;  
  }
  .about-content h1 {
    font-weight: 800;
    font-size: 27px;
    line-height: 120%;    
    text-transform: uppercase;    
    color: #000000;    
  }
  .text-content__title span {
    display: block;
  }
  .about__button {
    margin-top: 35px;
    margin-bottom: 51px;
  }
}