
.footer {
  background-color: $color-accent-darker;
  min-height: 469px;
  border: 1px solid black;
}
.footer__fluide{
  margin-top: 0;
  
}




// .fa-viber::before {
//   content: '\f409';
//   font-size: 100px;
//   width: 100%;
//   color: rgb(219, 230, 4) ;
//   opacity: 1;
//   z-index: 1;

// }

// .fa-viber {
//   content: '\f409';
//   font-size: 100px;
//   width: 100%;
//   color: rgb(78, 13, 255) ;
//   opacity: 1;
//   z-index: 1;
// }