$color-accent: #67AEFC;
$color-accent-darker: #64ABF9;
$color-gray: #6D79EF;
$color-light: #75E169;
$color-light-black: #484848;
$color-dark:  #DAECFF;
$color-white:  #FFFFFF;
$color-black:  #000000;



