@charset "UTF-8";
.nav-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  height: 95px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 38px;
  margin-right: 30px;
}

.nav-link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
  color: #FFFFFF;
}

a.nav-link::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 2px;
  top: 26px;
  background-color: #FFFFFF;
  -webkit-transition: width 0.3s ease-out;
  -o-transition: width 0.3s ease-out;
  transition: width 0.3s ease-out;
}

a.nav-link:hover::after {
  width: 100%;
}

a.nav-link {
  color: #FFFFFF;
  position: relative;
  padding: 0;
}

.header-logo__link img {
  width: 242px;
  height: 59px;
}

.header-menu {
  max-width: 1195px;
  padding-left: 12px;
  padding-right: 12px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 0 auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-menu__container {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

/* =======BUTTON=========== */
.button__lt {
  width: 170px;
  height: 37.78px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-radius: 5px;
  background: #75E169;
  -webkit-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 100%;
  align-items: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.button:hover a,
.button:active a {
  color: #FFFFFF;
  text-decoration: none;
  -webkit-box-shadow: 0px 4px 12px rgba(36, 35, 47, 0.2), 0px 4px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 12px rgba(36, 35, 47, 0.2), 0px 4px 20px rgba(0, 0, 0, 0.2);
}

/* =============================== */
/* BURGER MENU */
.wrapper {
  max-width: 1920px;
  margin: 0 auto;
  border: 1px solid black;
}

.header {
  background-color: #67AEFC;
}

h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 125%;
  color: #484848;
}

h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 125%;
  text-align: center;
  color: #111111;
  margin: 0;
}

h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 125%;
  color: #000000;
}

p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 175%;
  color: #000000;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.slider {
  background-image: url(/assets/img/backgrounds/shape-wave.png), url(/assets/img/backgrounds/shape-2.png);
  background-position: 1545px 789px, 186px 126px;
  max-width: 1920px;
  min-height: 908px;
  background-repeat: no-repeat;
}

.slider__title {
  max-width: 1198px;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px;
}

.slider__title h2 {
  padding-top: 123px;
  margin-bottom: 82px;
}

.card {
  max-width: 694px;
  margin: 0 auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: unset;
  -webkit-box-direction: unset;
  -webkit-flex-direction: unset;
      -ms-flex-direction: unset;
          flex-direction: unset;
  min-height: 391px;
  border: 2px solid #67AEFC;
  border-radius: 15px;
}

.item-imag {
  top: 0;
  left: 0;
}

.item-imag img {
  position: relative;
  width: 100%;
  top: 0;
  left: 19px;
  top: 8px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-body {
  max-width: 370px;
  padding: 15px 8px 10px 68px;
}

.card-body span {
  display: block;
}

.card-body h3 {
  margin-bottom: 21px;
}

.card-text {
  line-height: 140%;
}

.carousel-control-next, .carousel-control-prev {
  position: relative;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60px;
  height: 60px;
  padding: 0;
  color: black;
  text-align: center;
  background: 0 0;
  border: 2px solid #67AEFC;
  border-radius: 15px;
  opacity: unset;
  -webkit-transition: opacity 0.15s ease;
  -o-transition: opacity 0.15s ease;
  transition: opacity 0.15s ease;
}

.carousel-control-next-icon {
  background-image: url(/assets/img/slides/next.svg);
}

.carousel-control-prev-icon {
  background-image: url(/assets/img/slides/prev.svg);
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%;
}

.control-panel {
  max-width: 150px;
  margin: 40px auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about {
  background-image: url(/assets/img/backgrounds/1.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  margin: 0 auto;
  background-repeat: no-repeat;
}

.container__title {
  max-width: 1190px;
  padding-left: 10px;
  padding-right: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 0 auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-content__title {
  max-width: 838px;
  margin-top: 171px;
}

.about-content__title span {
  display: block;
}

.text-content__title {
  max-width: 432px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #000000;
  margin-top: 20px;
}

.button-btn {
  max-width: 270px;
  height: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-radius: 5px;
  background: #75E169;
  -webkit-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 100%;
  align-items: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 58px;
}

.market {
  position: relative;
  top: -388px;
  left: -126px;
}

.market-img {
  width: 122%;
}

.shape-wave {
  position: relative;
  top: -200px;
  left: -15px;
  z-index: -1;
}

.shape-wave-img {
  width: 190px;
  height: 70px;
}

.ellips {
  position: relative;
  top: 4px;
  z-index: -1;
}

.ellips-img {
  width: 149px;
  height: 183px;
}

.layer {
  position: relative;
  top: -115px;
  left: 67px;
  z-index: -1;
}

.layer-img {
  width: 171px;
  height: 63px;
}

.shape {
  background-position: 0px 0px;
  background-repeat: no-repeat;
  width: 52.57px;
  height: 52.57px;
  position: absolute;
  top: 250px;
  left: 251px;
}

.shape-img {
  width: 52.57px;
  height: 52.57px;
}

.features {
  max-width: 1920px;
  background: #DAECFF;
}
.features__title {
  text-align: center;
  padding-top: 120px;
  margin-bottom: 81px;
}
.features__description {
  max-width: 1194px;
}
.features__content {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

._features {
  max-width: 1650px;
  padding-bottom: 109px;
}

.bag {
  position: relative;
  top: 7px;
  max-width: 230px;
  text-align: right;
}

.accordion {
  margin-bottom: 10px;
}
.accordion__title {
  margin-bottom: 20px;
}

.accordion-item {
  background-color: #fff;
  border: unset;
}
.accordion-item:first-of-type {
  border-bottom-left-radius: unset;
  border-bottom-right-radius: unset;
  border-radius: 15px;
}
.accordion-item:last-of-type .accordion-button.collapsed {
  border-bottom-right-radius: unset;
  border-bottom-left-radius: unset;
  border-radius: 15px;
}

.accordion-button {
  padding: 14.4px 40px;
  -webkit-transition: unset;
  -o-transition: unset;
  transition: unset;
  font-size: unset;
  color: unset;
}
.accordion-button:not(.collapsed) {
  color: #111111;
  background-color: unset;
  -webkit-box-shadow: unset;
          box-shadow: unset;
  font-size: 21px;
  font-weight: 700;
  line-height: 125%;
}
.accordion-button:not(.collapsed)::after {
  background-image: url(/assets/img/backgrounds/Vector.svg);
  -webkit-transform: rotate(1deg);
      -ms-transform: rotate(1deg);
          transform: rotate(1deg);
  position: relative;
  top: 8px;
}
.accordion-button:not(.collapsed)::before {
  content: "●";
  display: block;
  font-size: 56px;
  color: #67AEFC;
  position: relative;
  top: -3.5px;
  left: -2px;
  line-height: 0px;
  width: 54px;
  margin: 0;
  text-align: left;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.accordion-button:focus {
  border-color: unset;
  -webkit-box-shadow: unset;
          box-shadow: unset;
}
.accordion-button::after {
  background-image: url("/assets/img/backgrounds/ChevronUp.svg");
  background-size: 25px;
  width: 25px;
  height: 25px;
}

.collapsed::before {
  content: "●";
  display: block;
  font-size: 56px;
  color: #75E169;
  position: relative;
  top: -3.5px;
  left: -2px;
  line-height: 0px;
  width: 54px;
  padding-right: 20px;
  margin: 0;
  text-align: left;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.vr {
  display: inline-block;
  -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
          align-self: stretch;
  width: 1px;
  min-height: 1em;
  background-color: black;
  opacity: unset;
}

.accordion-body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 70px 28px 54px;
  -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
          align-self: stretch;
}

.gap-3 {
  gap: 38.8px !important;
}
.gallery {
  margin: 0 auto;
  background-color: #DAECFF;
  background-image: url(/assets/img/backgrounds/shape-2.png), url(/assets/img/backgrounds/shape-wave-242.png);
  background-position: 1680px 1390px, 23px 300px;
  background-size: 116.44px, 217px;
  background-repeat: no-repeat;
  width: 100%;
}
.gallery__container {
  max-width: 1240px;
  margin: 0 auto;
}
.gallery__title {
  margin-top: 121px;
}

.gallery-item {
  max-width: 603px;
  padding: 0px 18.5px 37.5px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.gallery-item__wrapper {
  position: relative;
  max-width: 570px;
  max-height: 450px;
  padding: 0px 0px 79% 0px;
}
.gallery-item__image {
  width: 570px;
  max-height: 447px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}
.gallery-item__caption {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
  text-align: center;
  opacity: 1;
  background: #67AEFC;
  border-radius: 15px;
}
.gallery-item__link {
  position: relative;
  top: 90%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100px;
  -webkit-transition: top 0.5s;
  -o-transition: top 0.5s;
  transition: top 0.5s;
  color: #FFFFFF;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.gallery-item__title {
  position: absolute;
  right: 30px;
  bottom: 90%;
  left: 30px;
  margin-bottom: 0;
  text-align: center;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  color: #FFFFFF;
  font-weight: bold;
}

a.gallery-item__link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 175%;
  color: #FFFFFF;
}

.gallery-item:hover .gallery-item__title {
  bottom: 50%;
}

.gallery-item:hover .gallery-item__link {
  top: 43%;
}

.gallery-item__link:focus,
.gallery-item__link:hover {
  color: #fefefe;
}

.gallery-item__caption {
  opacity: 0;
}

.gallery-item__caption:focus,
.gallery-item__caption:hover {
  opacity: 1;
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 51px;
  text-align: center;
}

.not-active {
  display: block;
  margin-right: -51%;
}

.not-active-prev, .not-active-next {
  display: none;
}
.advantages {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  min-height: 724px;
}
.advantages__content {
  width: 100%;
  margin: 0 auto;
  padding-top: 131px;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}
.advantages__title {
  max-width: 673px;
  text-align: left;
  margin-top: 10px;
}
.advantages__title h2 {
  text-align: left;
}
.advantages__description {
  margin-top: 53px;
  line-height: 140%;
}

.advantages-image {
  margin-left: 37.56px;
  position: relative;
  top: 0;
  left: 0;
}
.advantages-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.shap__imag {
  background-repeat: no-repeat;
  max-width: 60px;
  background-position: 100px 100px;
  position: relative;
  top: -205px;
  left: 9px;
  -webkit-box-flex: 0.37;
  -webkit-flex-grow: 0.37;
      -ms-flex-positive: 0.37;
          flex-grow: 0.37;
  margin-right: 30px;
}
.shap__imag img {
  height: 60px;
  width: 60px;
  background-size: cover;
}

.group__imag {
  display: none;
}

@media (max-width: 1200px) {
  .slider {
    background-position: 950px 789px, 45px 52px;
  }
  .advantages__title {
    margin: 41px auto;
  }
  .advantages__title h2 {
    text-align: center;
  }

  .advantages__button {
    max-width: 270px;
    margin: 0 auto;
  }

  .advantages__content {
    display: block;
    padding-top: 41px;
  }

  .advantages-image {
    display: none;
  }

  .group__imag {
    display: block;
    margin: 41px auto;
    max-width: 360px;
  }
  .group__imag img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .shap__imag {
    top: 13px;
    left: 30px;
    margin-right: 0;
  }
  .shap__imag img {
    max-width: 50px;
    max-height: 50px;
  }
}

@media (max-width: 993px) {
  .slider {
    background-position: 750px 789px, 60px 52px;
  }
}

@media (max-width: 898px) {
  .header-menu, .nav-item {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .nav-item {
    height: 65px;
  }

  .header__button {
    display: none;
  }

  .header-logo__link img {
    width: 85%;
    height: 85%;
  }
  .bag img {
    display: none;
  }

  .features__description {
    max-width: 1194px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .features__content {
    display: block;
  }

  .features__title {
    padding-top: 13px;
    margin-bottom: 16px;
  }

  .features__title h2 {
    font-size: 23px;
    line-height: 150%;
  }

  .accordion-item p {
    font-size: 17px;
  }

  .accordion-button::after {
    background-size: 29px;
    width: 31px;
    height: 31px;
  }
}

@media (max-width: 768px) {
  .control-panel {
    margin-top: 25px;
    margin-bottom: 45px;
    max-width: 227px;
  }

  .card {
    min-height: 632px;
    display: block;
  }

  .item-imag {
    text-align: center;
    max-width: 280px;
    height: 276px;
    margin: auto;
  }

  .item-imag img {
    position: unset;
    margin-top: 20px;
  }

  .imag-2 img {
    width: 220px;
    height: 216px;
  }

  .card-body {
    margin-right: auto;
    margin-left: auto;
    padding: 27px 27px 12px 35px;
  }

  .card-body p {
    font-size: 17px;
    line-height: 175%;
  }
  .gallery {
    background-image: unset;
  }
  .gallery__title {
    margin-top: 23px;
    font-size: 23px;
  }

  .gallery-item {
    margin: 0 auto;
  }

  .not-active {
    display: none;
    margin-right: -100%;
  }

  .not-active-prev, .not-active-next {
    display: block;
  }

  .container-fluid {
    margin-top: 14.37px;
  }
  .shap__imag {
    top: 0px;
    left: 0px;
  }
}

@media (max-width: 727px) {
  .header {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
  }

  .header-logo, .header-menu__container {
    -webkit-box-flex: unset;
    -webkit-flex-grow: unset;
        -ms-flex-positive: unset;
            flex-grow: unset;
  }

  .header-navbar__list {
    display: none;
  }

  .header-logo {
    margin: 0;
    padding: 0;
  }

  .header-logo__link img {
    width: 136px;
    height: 35px;
    padding-left: 0;
  }

  .header-menu {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    max-width: 560px;
    height: 49px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-right: 28px;
    padding-left: 12px;
  }

  .nav-item {
    margin: 0;
  }

  a.nav-link {
    font-weight: 800;
    font-size: 17px;
    line-height: 27px;
    text-transform: uppercase;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin: 0 auto;
    padding-bottom: 45px;
  }
}

@media (max-width: 727px) and (min-width: 250px) {
  .header-navbar__btn {
    position: relative;
    width: 24px;
    height: 16px;
    cursor: pointer;
    z-index: 5;
  }

  .header-navbar__btn span {
    left: 50%;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }

  .header-navbar__btn span:first-child {
    top: 0px;
  }

  .header-navbar__btn span:nth-of-type(2) {
    top: calc(50% - 1.5px);
  }

  .header-navbar__btn span:nth-of-type(3) {
    top: calc(50% + 5px);
  }

  .header-navbar__btn.active span {
    display: none;
    -webkit-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
  }

  .header-navbar__btn.active::before {
    content: "•••";
    display: block;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 50px;
    color: #FFFFFF;
    position: relative;
    top: 0.5px;
    left: 13px;
    line-height: 6.5px;
    padding: 0px;
    margin: auto 0;
    -webkit-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
  }

  .header-navbar__btn.active {
    text-align: center;
    width: 65px;
    overflow: visible;
  }

  .header-navbar__list.active {
    -webkit-transform: translate(0px, 0%);
        -ms-transform: translate(0px, 0%);
            transform: translate(0px, 0%);
    -webkit-transition: -webkit-transform 0.8s ease 0s;
    transition: -webkit-transform 0.8s ease 0s;
    -o-transition: transform 0.8s ease 0s;
    transition: transform 0.8s ease 0s;
    transition: transform 0.8s ease 0s, -webkit-transform 0.8s ease 0s;
    overflow: auto;
    text-align: center;
    z-index: 2;
  }

  .header-navbar__link {
    margin: 0;
  }

  .nav-item {
    display: block;
    text-align: center;
  }

  .header-navbar__list {
    position: fixed;
    top: 48px;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 81px 10px 30px 10px;
    background: #67AEFC;
    margin: 0 auto;
  }
}

@media (max-width: 576px) {
  .slider {
    background-position: 750px 789px, 0px 30px;
  }
  .accordion-button {
    padding: 24.4px 14px;
  }

  .accordion-body {
    padding: 15px 41px 28px 28px;
  }
}

@media (max-width: 375px) {
  .button-btn {
    max-width: 335px;
    border-radius: 10px;
  }
  .card {
    max-width: 335px;
  }

  .slider__title h2 {
    font-size: 23px;
    line-height: 150%;
    padding-top: 42px;
    margin-bottom: 20px;
  }

  .card-body {
    padding: 0px 22px 10px 29px;
  }
  .card-body h3 {
    margin-top: 23px;
    margin-bottom: 0;
  }

  .item-imag {
    padding-bottom: 30px;
  }

  .imag-5 {
    height: 249.88px;
  }

  .slider {
    min-height: 880px;
    background-size: 38.86px;
    background-position: 750px 789px, -14px 22px;
  }

  .slider__title {
    padding: 0;
  }
  .accordion-button:not(.collapsed) {
    font-size: 17px;
    font-weight: 800;
    line-height: 27px;
    padding-bottom: 20px;
  }
  .accordion-button:not(.collapsed)::after {
    top: -5px;
  }
  .accordion-button:not(.collapsed)::before {
    font-size: 34px;
    top: 11.5px;
  }

  .collapsed::before {
    font-size: 34px;
    top: 14px;
    width: 37px;
  }

  .accordion-button {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 24.4px 20px 20px 20px;
  }
  .accordion-button::after {
    height: 26px;
  }

  .accordion-body {
    padding-top: 0;
  }
  .accordion-body p {
    font-size: 17px;
    padding-top: 0;
  }

  .gap-3 {
    gap: 28.8px !important;
  }

  ._features {
    padding-bottom: 10px;
  }
  .advantages__title {
    max-width: 335px;
    margin-top: 4px;
    margin-left: auto;
    margin-right: auto;
  }
  .advantages__title h2 {
    font-weight: 800;
    font-size: 23px;
  }

  .advantages__content {
    padding-top: 0px;
  }

  .advantages__button {
    max-width: 335px;
    margin: 0 auto;
  }

  .advantages__text p {
    font-size: 17px;
    line-height: 29.75px;
    color: #111111;
    padding-right: 8px;
  }

  .group__imag {
    margin: 41px auto;
    max-width: 260px;
  }

  .shap__imag {
    background-image: url(/assets/img/backgrounds/shape-2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 38.86px;
    max-height: 38.86px;
    position: relative;
    top: -16px;
    left: 278px;
    margin-right: 0;
  }
  .shap__imag img {
    opacity: 0;
    width: 100%;
  }
}

@media (max-width: 342px) {
  .accordion-body {
    padding: 15px 17px 28px 28px;
  }
}

@media (max-width: 339px) {
  .shap__imag {
    top: -16px;
    left: 188px;
  }
}

@media (max-width: 319px) {
  .vr {
    display: none;
  }
}